/* --------------------------------------------------------------------------
 * Mochi Projects : Style Additions
 *
 * file           : mystyle.css
 * Desc           : Extra classes nad styles added to jevent template for D3 Conference & Expo 2016
 * Version        :
 * Date           : 03/16/16
 * Author         : Mochi Projects
 * Author URI     :
 * Email          :
 *
 * Mochi Projects. Copyright 2016. All Rights Reserved.
 * -------------------------------------------------------------------------- */

/* ------------------------ Nav Bar------------------------ */
.header-wrap.slideDownScaleReversedIn {
  background: rgba(8,25,51,0.7) !important;
}

.header-wrap.header {
  background: #122a4e;
}

.left-15 {
  margin-left: 15px;
}

@media (max-width: 767px) {
  .header-wrap {
    background: rgba(8,25,51,0.7);
  }
}

/* ------------------ Home section carousel ------------------ */
@media (min-width: 1080px) {
  .carousel-inner {
    height: 58em;
    margin-top: -3em;
  }
}

@media (max-width: 480px) {
  .title-wrap {
    margin-bottom: 0px !important;
  }

  #owl-demo {
    height: 24em;
  }

  .carousel-inner .item {
    height: 24em;
  }

  .carousel-inner .item img {
    max-width: 127%;
  }
}

/* ------------------  About section ------------------  */
#about .container .title-wrap .section-heading {
  font-size: 32pt;
  padding-bottom: 10px;
}

.abt-logos {
  max-height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.abt-video-txt {
  color: #fff;
  padding: 1.5em 1.5em 2em 1.5em;
  margin-top: 2em;
}

.abt-video-txt h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.abt-video {
  padding-right: 0;
  padding-left: 0;
}

.abt-video-row {
  min-height: 30em;
  background-color: rgba(8,25,51,0.9) !important;
}


/* ------------------------ Sponsors section ------------------------ */
.sponsor-btn {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

.sponsor-type {
  height:9px;
  margin-bottom:10px;
  padding:0;
  width: 9em;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-size: 7pt;
  padding-bottom: 14px;
  padding-top: 3px;
  color: black;
}

.partner {
  background-color:#fec0e0 !important;
}

.supporter {
  background-color:#c7e8c8 !important;
}

.exhibitor {
  background-color: #ffaeb9 !important;
}

.food {
  background-color: #ffd7ab !important;
}

.liveart {
  background-color: #b2eafb !important;
}

.contest {
  background-color: #ed3287 !important;
}

/* ------------------------ Schedule section ------------------------ */
.sched-day {
  color: #122a4e;
}
.sched-campus {
  color: #ed3287;
}
.sched-btns {
  text-align:center;
  padding-top:1em;
}

/* ------------------------ FAQ accordion styling ------------------------ */
.faq-accordion > .panel {
  border:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #7d7d7d;
}

.faq-accordion > .panel > .panel-heading {
  background-color:transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #7d7d7d;
}

/* ---------------- Register C2A ------------------------ */
#donation {
  padding-top: 50px;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  #donation {
    padding-top: 0 !important;
  }
}

/* ------------- sponsors slider ---------- */
.sponsors-slider .owl-carousel .item img {
  max-height: 67px !important;
  min-height: 49px;
}


/* ---------------- Expo participants section ------------------------ */
#exhibitors-slider {
  padding-bottom: 30px;
  padding-top: 0px;
}

.exhibitor-type {
  height:9px;
  margin-bottom:10px;
  padding:0;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  float: none;
  font-size: 7pt;
  padding-bottom: 14px;
  padding-top: 3px;
  text-align: center;
}

.feat {
  background-color: #004FDE !important;
  color: #fff;
}

.exhib-none {
  background-color: transparent !important;
}

.exhibitors-slider .owl-carousel .item .img-reg {
  max-height: 50px !important;
  min-height: 52px;
  margin-left: 30%;

}

.exhibitors-slider .owl-carousel .item .img-feat {
  max-height: 59px !important;
  min-height: 49px;
  margin-left: 13%;
}


/*----------- D3 Team Section---------- */
.d3-team-bg{
    background-image: url(../img/background/header-bg-5.jpg);
    background-repeat: no-repeat;
}

/* ----- Ticket Pricing Section ----- */
.cut-price {
  text-decoration: line-through;
}

/* ------------------------  Register Section ------------------------*/
.register-bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed3287+1,783369+58,122a4e+100 */
  background: #ed3287; /* Old browsers */
  background: -moz-linear-gradient(left,  #ed3287 1%, #783369 58%, #122a4e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ed3287 1%,#783369 58%,#122a4e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ed3287 1%,#783369 58%,#122a4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed3287', endColorstr='#122a4e',GradientType=1 ); /* IE6-9 */

}

/* ------------------------ Single Post Page (News/Blog Item) ------------------------ */
.blog-post-wrap {
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.blog-media {
  border:none;
}

.blog-head {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-height: 23em !important;
}

.trophy-pink {
  color: #ed3287;
}

#contests .blog-bg{
    background: rgba(30, 30, 30, 0.9) none repeat scroll 0 0;
}

/* ------------------------ Mentors Page ------------------------ */
.mentors-bg {
  background-image: url(../img/background/slider-bg-4.jpg);
  background-repeat: no-repeat;
}

.mentor-overlay {
  background-color: rgba(8,25,51,0.7) !important;
  color: #fff;
  padding: 1em 1.5em 0 1.5em;
}

/* ------------------------ 404 Page ------------------------ */
#error-page .container h3 {
  color: #ed3287;
}

#error-page .fa-warning {
  color: #ed3287 !important;
}


/* ------------------------ Footer ------------------------ */
.footer-social-bg {
  background-color: #122a4e;
}

.copy-right-bg {
  background-color: #0b1f3d;
}
